@media (max-width: 1300px) {
    header {
        gap: 350px;
    }

    section .list .item .content h2 {
        font-size: 100px;
        padding-bottom: 0px;
    }    

    section .list .item .content .description {
        max-width: 300px;
    }

    section .list .item .car-img img {
        width: 80%;
        transform: rotate(-30deg);
    }

    
}

@media (max-width: 1220px) {
    header h1 {
        font-size: 200%;
    }
    
    section .list .item .content h2 {
        font-size: 5em;
    }    

    section .list .item .content .description {
        font-size: 10px;
        max-width: 200px;
        margin-top: 20px;
    }
}




@media (max-width: 1050px) {

    header {
        gap: 30%;
    }
    
    section .list .item .content h2 {
        font-size: 4em;
        padding-top: 70px;
    }    

    section .list .item .content .description {
        font-size: 10px;
        max-width: 200px;
    }

    section .list .item .car-img {
        width: 500px;
    }
}

@media (max-width: 960px) {
    header {
        gap: 40%;
    }

    header nav ul {
        display: grid;
        grid-template-columns: repeat(3, 130px);
    }

    section .list .item .content .car-information {
        padding-top: 100px;
    }
    
    section .list .item .content h2 {
        font-size: 3em;
        padding-top: 0px;
        
    }    

    section .list .item .content .description {
        font-size: 10px;
        max-width: 200px;
    }
}

@media (max-width: 860px) {
    header {
        gap: 40%;
    }

    header nav ul {
        display: grid;
        grid-template-columns: repeat(3, 100px);
        font-size: 14px;
    }

    section .list .item .content .car-information {
        padding-top: 100px;
    }
    
    section .list .item .content h2 {
        font-size: 3em;
        padding-top: 0px;
        
    }    

    section .list .item .content .description {
        font-size: 10px;
        max-width: 200px;
    }

    section .list .item .car-img {
        width: 70%;
    }
}

@media (max-width: 760px) {
    header {
        gap: 35%;
    }

    section .list .item .car-img {
        width: 60%;
    }
}

/* a partir daqui, deixar o carro em cima e a descrição embaixo dele */
@media (max-width: 660px) {
    /* Transformando a estrutura em coluna */
    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        height: auto;
    }

    section .list .item .car-img {
        width: 120%;
        padding-left: 70px;
    }

    .car-information {
        position: absolute;
        top: 70px;
    }

    h2 {
        font-size: 3em;
        position: absolute;
        top: 200px;

    }

    section .list .item .description {
        font-size: 12px;
        padding-top: 320px;
        width: 80%; /* Ajuste a largura conforme necessário */
        text-align: end;
    }

    .information {
        order: 4; /* Coloca o botão abaixo da descrição */
        margin-top: 10px; /* Ajuste conforme necessário */
        z-index: 4; /* Garante que o botão fique acima de todos os elementos */
    }
}

@media (max-width: 432px) {

    section .list .item .car-img {
        width: 110%;
        padding-left: 40px;
    }

    .car-information {
        position: absolute;
        top: 70px;
    }

    h2 {
        font-size: 3em;
        position: absolute;
        top: 200px;

    }

    section .list .item .description {
        font-size: 12px;
        padding-top: 320px;
        width: 80%; /* Ajuste a largura conforme necessário */
        text-align: end;
    }

    .information {
        order: 4; /* Coloca o botão abaixo da descrição */
        margin-top: 10px; /* Ajuste conforme necessário */
        z-index: 4; /* Garante que o botão fique acima de todos os elementos */
    }
    
    section .arrows button {
        top: 60%;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
    }
    
    section .arrows button img {
        width: 20px;
        margin-top: 5.5px;
    }

    section .indicators {
        top: 65%;
}

    section .number {
    font-size: 3em;
}
}